* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Outfit', sans-serif;
    overflow-y: none;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

/* body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/008/694/445/non_2x/white-background-space-design-concept-decorative-web-layout-or-poster-banner-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
} */


.contenedor {
    width: 14%;
    padding: 16px;
    border-radius: 20px;
    background-color: white;
    
}

.imagen {
    width: 100%;
    border-radius: 8px;
}

article {
    padding: 15px;
    font-size: 15px;
    text-align: center;
}

h1 {
    font-weight: 700;
}

p {
    padding: 0 5px;
    font-weight: 400;
}

@media (max-width:1024px) {
    .contenedor {
        width: 25%;
    }

}

@media (max-width:800px) {
    .contenedor{
        width: 30%;
    }

}

@media (max-width:425px) {
    .contenedor {
        width: 60%;
    }

}

@media (max-width:300px) {
    .contenedor {
        width: 70%;
    }

}